.header {
  padding-bottom: 66px;

  .header__menu {
    @include margin0auto($max-width-xl);
    @include flex-center;
    gap: 70px; 
    // padding:  45px (0.11 * $max-width-xl) 51px;
    padding: 45px 0 51px;

  }

  .header__menu-item {
    @include flex-center;
    color: $header-txt-color;
    @include set-font(11px, 400, 22px, uppercase);
    white-space: nowrap;

    &--active {
      color: $active-menu-txt-color;
    }
  }

  .header__img {
    max-width: $max-width-xl;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
    }
  }
}

// &:last-child {
//   color: red;
//   background-color: yellow;
// }
// &:last-child::after {
//   content: "|";
//   display: block;
//   width: 0;
// }
