.posts {
  @include flex-center;
  padding-bottom: 60px;
}

.posts__content-wrapper {
  max-width: $max-width-xl;
  flex-grow: 1;
  margin: 0 7px;
}

.posts__articles-list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  row-gap: 32px;
  column-gap: 25px;

}

.posts__article-text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 404px;
  min-width: 280px;
}

.posts__article {
  display: flex;
  gap: 21px;

  img {
    width: 160px;
    height: 140px;
  }
}

.posts__article-header {
  @include set-font(16px, 700, 30px);
  color: $header-txt-color;
}

.posts__article-breadcrums {
  @include set-font(12px, 400, 20px);
  color: $breadcrums-txt-color;
  text-decoration: none;
}

.posts__article-text {
  @include set-font(14px, 400, 26px);
  margin-top: 7px;
}
