@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
   font-family: "Open Sans", sans-serif;
}

.wide-container {
   width: 1900px;
   margin: 0 auto;
}

.narrow-container {
   width: 1170px;
   margin: 0 auto;
}

.wrapper-nav-header {
   height: 70px;
   background-color: #313131;
   position: relative;
   display: flex;
   justify-content: center;
}

.wrapper-logo-header {
   height: 70px;
   display: flex;
   align-items: center;
   position: absolute;
   left: 0;
   top: 0;
}

.logo-header {
   margin: 0 38px 0 27px;
}

.text-logo-header {
   color: #fff;
   font-size: 27px;
   font-weight: 700;
}

.search-btn-header {
   width: 68px;
   height: 70px;
   background-color: #000;
   border: none;
   position: absolute;
   right: 0;
   top: 0;
}

.nav-header {
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-header-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 35px;
}

.nav-header-item {
   color: #fff;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 600;
}

.nav-header-item:hover {
   color: #14b9d5;
}

.header-main-section {
   height: 369px;
   background-image: url("../img/header/header-bg.jpeg");
   background-size: cover;
   background-position: 50% 61%;
   padding-top: 165px;
   padding-bottom: 74px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header-main-title {
   text-align: center;
   font-weight: 700;
   font-size: 27px;
   line-height: 27px;
   color: #ffffff;
}

.header-main-btn-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.header-main-btn {
   height: 55px;
   width: 170px;
   border: none;
   font-weight: 600;
   font-size: 18px;
   color: #ffffff;
   border-radius: 4px;
}

.bg-green {
   background: #89ca62;
}

.bg-skyblue {
   background: #14b9d5;
}

/* MAIN SECTIONS SECTION */
/*  */
/* POPULAR POSTS SECTION */
.popular-posts-section {
   background: #f2f2f2;
   padding-top: 54px;
   padding-bottom: 72px;
}
.popular-posts-section-title {
   font-weight: 700;
   font-size: 27px;
   line-height: 20px;
   text-align: center;
   text-transform: uppercase;
   color: #18b4cf;
   margin: 0 auto;
   margin-bottom: 60px;
}

.popular-post-list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column; 
   gap: 30px;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
   height: 828px;
}

.popular-post-item img {
    display: block;
}
.popular-post-link {
   background: #fff;
   font-weight: 700;
   font-size: 18px;
   text-align: center;
   color: #353a3d;
   display: flex;
   height: 61px;
   align-items: center;
   justify-content: center;
}

/* POPULAR CLIENTS SECTION */
.popular-clients-section {
   height: 588px;
   background-image: url(../img/header/parallax-bg.jpeg);
   background-size: cover;
   background-position: 50% 28%;
   padding-top: 117px;
}
.pop-clients-header {
   color: #fff;
   font-weight: 700;
   text-align: center;
   font-size: 32px;
   line-height: 24px;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.pop-clients-header::after {
   content: "";
   display: block;
   background-color: #18B4CF;
   width: 60px;
   height: 3px;
   margin-top: 97px;
}

.clients-logo-wrapper {
   display: grid;
   grid-auto-flow: column;
   gap: 58px;
   justify-content: center;
   align-items: center;
   margin-top: 106px;
}