#list {
  list-style: none;
  padding-left: 0;
  margin: 8px;
}

li {
  display: flex;
  align-items: center;
  padding: 8px;
  box-shadow: 2px -2px 35px 8px rgba(34, 60, 80, 0.2);
  margin-bottom: 16px;
}
.isDone {
  text-decoration: line-through;
}

button {
  font-size: 18px;
  background-color: cornflowerblue;
  padding: 8px;
  margin: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input {
  border-radius: 6px;
  padding: 8px;
  border: 1px solid cornflowerblue;
}
.list-item-remove-btn {
  margin-left: 50px;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}
.list-item-done-btn {
  margin-right: 50px;
  width: 20px;
  height: 20px;
  border: 1px solid green;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}
