$rem: 16px;

$max-width-xl: 1170px;
$max-width-l: 768px;
$max-width-s: 320px;


$plain-txt-color: hsla(0, 0%, 36%, 1);
$header-txt-color: hsla(0, 0%, 31%, 1);
$header-txt-color-light: hsla(0, 0%, 100%, 1);
$footer-txt-color: hsla(0, 0%, 73%, 1);

$breadcrums-txt-color: hsla(0, 0%, 49%, 1);
$active-menu-txt-color: hsla(180, 31%, 49%, 1);

$bgc-insta-shots:hsla(0, 0%, 97%, 1);
$bgc-footer: hsla(0, 0%, 0%, 1);
