@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.header-logo {
  display: block;
  margin-top: 46px;
  width: 334px;
  padding: 0;
  font-size: 80px;
  color: black;
}

.colored-header-logo {
  color: #4bcaff;
}

.menu-header {
  display: flex;
  background-color: #35444f;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 48px;
}

.menu-header-item {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding: 26px 38px 19px;
  border-left: 1px solid white;
}

.menu-header-item:last-child {
  border-right: 1px solid white;
}

.menu-header-item:hover {
  background-color: #222f3a;
}

/* MAIN SECTION */
.main-section {
  display: flex;
  justify-content: space-between;
}

.nav-aside {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  justify-content: space-around;
}
.nav-aside-item {
  display: flex;
  align-items: center;
  height: 79px;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding-left: 44px;
}

.nav-aside-item:hover {
  color: black;
  background: #dbdbdb;
  padding-left: 70px;
}

.article-main {
  width: 885px;
}

.ramda-picture-wrapper {
  display: flex;
  height: 529px;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ramda-picture {
  box-sizing: content-box;
  transition: 1s;
  padding: calc((527px - 381px) / 2) calc((883px - 320px) / 2);
}

.ramda-picture:hover {
  transform: scale(1.3);
}

.article-main-text {
  margin-top: 37px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

/* FOOTER SECTION */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 54px;
  margin-bottom: 30px;
  background-color: #b4b7b9;
  padding: 0 40px 0;
}

.footer-nav {
  display: flex;
  width: 875px;
  justify-content: space-between;
  align-items: center;

}
.footer-nav-item {
    box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c1927;
  font-size: 28px;
  height: 50px;
  /* line-height: 28px; */
}

.footer-nav-item:hover {
  color: #3181a6;
  border-top: 2px solid #b4b7b9;
  border-bottom: 2px solid #3181a6;
}

.footer-copyright {
  color: #010101;
  font-size: 24px;
  line-height: 24px;
}
