button {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, max-content);
    grid-template-rows: repeat(10, max-content);
}

.circle {
    margin: 1px;
    cursor: pointer;
}
