@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.eot");
  src: url("../font/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Roboto-Regular.woff2") format("woff2"),
    url("../font/Roboto-Regular.woff") format("woff"),
    url("../font/Roboto-Regular.ttf") format("truetype"),
    url("../font/Roboto-Regular.svg#../font/Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.eot");
  src: url("../font/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Roboto-Bold.woff2") format("woff2"),
    url("../font/Roboto-Bold.woff") format("woff"),
    url("../font/Roboto-Bold.ttf") format("truetype"),
    url("../font/Roboto-Bold.svg#../font/Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Roboto;
}
.main-container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
  background: url(../img/main-bg.jpg);
  background-size: 100%;
  padding-top: 46px;
  padding-bottom: 15px;
  /* box-sizing: border-box; */
   display: flex;
   flex-direction: column;
}

.narrow-container {
  width: 1028px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 61px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.logo-link-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 9px;
}

.logo-default-header {
  position: absolute;
}

.logo-colored-header {
  visibility: hidden;
}

.logo-text-header {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.logo-text-header span {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 3px;
  margin-bottom: -3px;
  display: block;
}

.logo-link-header:hover .logo-text-header {
  color: #f26522;
}

.logo-link-header:hover .logo-text-header span {
  color: #f26522;
}

.logo-link-header:hover .logo-default-header {
  visibility: hidden;
}
.logo-link-header:hover .logo-colored-header {
  visibility: visible;
}

.contacts-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.contact-item {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.contact-item:hover {
  color: #f26522;
}

/* TOUR SECTION */
.tours-section {
  width: 1028px;
  display: grid;

  grid-template-columns: repeat(3, auto);
  grid-auto-columns: min-content;
  /* grid-auto-flow: column; */
  /* grid-template-rows: repeat(2, 261px); */

  justify-content: space-between;
  gap: 37px 0;
}

.tour-type-link {
  height: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tour-img {
  width: 300px;
  height: 220px;
  object-position: center top;
  object-fit: none;
  display: block;
}

.tour-type-title {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

/* FOOTER SECTION*/
.footer-section {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.footer-copyright {
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

}